.grid-container {
  margin: 20px;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.dashboard-card-content {
  text-align: center;
}
.loading-spinner{
  background-color: rgb(221, 221, 221);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem;
}

.imgcard {
  width: 300px;
  max-height: 200px;
}

.container {
  display: flex;
  justify-content: center;
  text-align: center;
}
mat-card-header{
  display: flex;
  justify-content: center;
}

.text {
  font-size: 16px;
}

