<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <img mat-card-image [src]="logoMenu"  alt="Imagem do logo no menu">
    <div class="emailLateral"*ngIf="usuario$ | async as usuario">
      <p>
        <span matBadge="4" matBadgeOverlap="false">{{usuario.email}}</span>
      </p>
    </div>
    <mat-divider></mat-divider>
    <!-- Menu Lateral - Informações Gerais -->
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Menu Principal
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list *ngFor="let itemMenu of itensMenu$ | async; index as i">
          <a mat-list-item *ngIf="itemMenu.hab === true" [href]="itemMenu.linkMenu">{{itemMenu.labelMenu}}</a>
          </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>

     <!-- Menu Lateral - Informações de Livros -->
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Livros
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list *ngFor="let livroMenu of livrosMenu$ | async; index as i">
            <a mat-list-item *ngIf="livroMenu.hab === true" [href]="livroMenu.linkMenu">{{livroMenu.labelMenu}}</a>
          </mat-nav-list>
        </mat-expansion-panel>
      </mat-accordion>

      <!-- Menu Lateral - Informações de Biblioteconomia -->
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Biblioteconomia
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list *ngFor="let bibliMenu of bibliMenu$ | async; index as i">
            <a mat-list-item *ngIf="bibliMenu.hab === true" [href]="bibliMenu.linkMenu">{{bibliMenu.labelMenu}}</a>
          </mat-nav-list>
        </mat-expansion-panel>
      </mat-accordion>

  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Menu BookShelf Lateral">menu</mat-icon>
      </button>
      <img mat-card-sm-image *ngIf="innerWidth > 600" [width]="lIcone" [height]="aIcone" [src]="iconeGeral">
      <ng-container *ngIf="usuario$ | async as usuario; else botaoLogin">
        <button mat-raised-button color="primary" [matMenuTriggerFor]="usuarioMenu" matTooltip="Conta BookShelf">
          <img class="imgPerfil" src= {{usuario.photoURL}} alt="foto de perfil">
          <!-- <mat-icon *ngIf="innerWidth > 600" class="mat-18">local_library</mat-icon> -->
          {{usuario.displayName}}
          <mat-icon>expand_more</mat-icon>
        </button>
      </ng-container>
      <ng-template #botaoLogin>
        <button mat-raised-button color="primary" (click)="abrirLogin('Tela de Login')" matTooltip="Entre com sua conta">
          LOGIN
        </button>
      </ng-template>
    </mat-toolbar>
    <mat-menu #usuarioMenu="matMenu" >
      <button mat-menu-item routerLink="/perfil" matTooltip="Exibir informações do perfil">MEU PERFIL</button>
      <button mat-menu-item (click)="sairUsuario()" matTooltip="Sair da conta">LOGOUT</button>
    </mat-menu>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
