<div>
  <!-- Resultado de busca -->
  <div>
    <div class="grid-container">
      <mat-form-field appearance="fill" style="width: 100%; text-align: center;" >
        <mat-label>Busque uma saga</mat-label>
        <input matInput #searchInput />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
    <div class="grid-container" *ngIf="result$ | async as busca">
      <mat-grid-list [cols]="breakpoint" rowHeight="250px" (window:resize)="handleSize($event)">
        <mat-grid-tile *ngFor="let busca of result$| async">
          <mat-card class="dashboard-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>{{busca.titulo}}</mat-card-title>
              <mat-card-subtitle>{{busca.autor}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image class="imgcard" [src]="busca.img" [alt]="busca.titulo" (click)="abrirSagas(busca.livros)" >
            <mat-card-content class="dashboard-card-content">
              <div>{{busca.descricao}}</div>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>

  <div class="grid-container" *ngIf="sagas$ | async as sagas; else loading">
    <mat-toolbar color="accent">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with history_edu icon" matTooltip="Sagas">
        <mat-icon>history_edu</mat-icon>
      </button>
      <span>AS 10 SAGAS LITERÁRIAS MAIS FAMOSAS</span>
    </mat-toolbar>
    <mat-grid-list [cols]="breakpoint" rowHeight="250px" (window:resize)="handleSize($event)">
      <mat-grid-tile *ngFor="let sagas of sagas$ | async">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{sagas.titulo}}</mat-card-title>
            <mat-card-subtitle>{{sagas.autor}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image class="imgcard" [src]="sagas.img" [alt]="sagas.titulo" (click)="abrirSagas(sagas.livros)" >
          <mat-card-content class="dashboard-card-content">
            <div>{{sagas.descricao}}</div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
<ng-template #loading>
  <div class="loading-spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>

