<mat-card>
  <div *ngIf=" livrosArtes$ | async as livrosArtes; else loading;">
    <mat-toolbar color="accent">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>OS 10 PRINCIPAIS LIVROS DE ARTES</span>
      <span class="example-spacer"></span>
    </mat-toolbar>
    <table mat-table [dataSource]="livrosArtes" class="mat-elevation-z8">

      <!-- Ranking -->
      <ng-container matColumnDef="tituloArtes">
        <th mat-header-cell *matHeaderCellDef> Título </th>
        <td mat-cell *matCellDef="let artes"> {{ artes.tituloArtes }} </td>
      </ng-container>

      <!-- Título do Livro -->
      <ng-container matColumnDef="_idArtes">
        <th mat-header-cell *matHeaderCellDef> Título </th>
        <td mat-cell *matCellDef="let artes"> {{ artes._idArtes }} </td>
      </ng-container>

      <!-- Autor -->
      <ng-container matColumnDef="autorArtes">
        <th mat-header-cell *matHeaderCellDef> Autor </th>
        <td mat-cell *matCellDef="let artes"> {{ artes.autorArtes }} </td>
      </ng-container>

      <!-- ISBN -->
      <ng-container matColumnDef="isbnArtes">
        <th mat-header-cell *matHeaderCellDef> ISBN </th>
        <td mat-cell *matCellDef="let artes"> {{ artes.isbnArtes }} </td>
      </ng-container>

      <!-- Editora -->
      <ng-container matColumnDef="editoraArtes">
        <th mat-header-cell *matHeaderCellDef> Editora </th>
        <td mat-cell *matCellDef="let artes"> {{ artes.editoraArtes }} </td>
      </ng-container>

      <!-- Ano de Publicação -->
      <ng-container matColumnDef="anoArtes">
        <th mat-header-cell *matHeaderCellDef> Ano </th>
        <td mat-cell *matCellDef="let artes"> {{ artes.anoArtes }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="visaoColunas"></tr>
      <tr mat-row *matRowDef="let row; columns: visaoColunas;"></tr>
    </table>
  </div>
  <ng-template #loading>
    <div class="loading-spinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</mat-card>
